<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>MRP Scanner | Scan MRP from Grocery Images</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> 
   <script src="static/js/jquery.min.js"></script>
 <script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/modules/exporting.js"></script>


</head>

<body>

<div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">MRP Scanner
        | The Chosen Ones</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-red btn-flat modal-trigger" href="#modal1">Analyse Tweet</a></li>
        <li><a href="#!" target="_blank">Anayse Text</a></li>
        
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a class="waves-effect waves-red btn-flat modal-trigger" href="#modal1">Analyse Tweet</a></li>
        <li><a href="#!" target="_blank">Analyse Text</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="fa fa-bars red-text"></i></a>
    </div>
  </nav>
  </div>
<div class="row">
  <center><h3>You looked For : <span class ="red-text"> {{ query }} </span></h3></center>
</div>

<div id="piechart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div class ="row">
  {% for tweet in tweets %}
    {%  if tweet[1]['compound']|float > 0.0 %}
      <div class ="col l4 offset-l1 card-panel teal">
        <div class="white-text"><p>{{ tweet[0]|string }}</p></div>
        <hr>
        <ul style="list-style: in">
        {% for score in tweet[1] %}
          <li style="display: inline">{{ score }} : {{ tweet[1][score]|string}} &nbsp; | &nbsp;</li>
        {% endfor %}
        </ul>
      </div>

    {% elif tweet[1]['compound']|float == 0.0 %}
      <div class ="col l4 offset-l1 card-panel grey">
        <div class="white-text"><p>{{ tweet[0]|string }}</p></div>
        <hr>
        <ul style="list-style: in">
        {% for score in tweet[1] %}
          <li style="display: inline">{{ score }} : {{ tweet[1][score]|string}} &nbsp; | &nbsp;</li>
        {% endfor %}
        </ul>
      </div>

    {% else %}
      <div class ="col l4 offset-l1 card-panel orange">
        <div class="white-text"><p>{{ tweet[0]|string }}</p></div>
        <hr>
        <ul style="list-style: in">
        {% for score in tweet[1] %}
          <li style="display: inline">{{ score }} : {{ tweet[1][score]|string}} </li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endfor %}
</div>
  <div id="counter" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center white-text">
          <p><br><br><br></p>
          <div id="count" class="count-number"></div>
        </div>
        <div class="row">
          <p><br><br></p>
          <h5 class="header center white-text">Tweets Have Been Anaysed Till Now.</h5>
          <p class="white-text center"><br><br><br>
          <center><h5><a class="waves-effect waves-white btn-flat modal-trigger center white-text" href="#modal1">Get Started</a></h5>
          <center></p>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/img/sharebg.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer red lighten-2">
    <div class="container">
      <div class="row center white-text">
        <ul>
        <li><a href="https://www.facebook.com/" target="_blank" class="white-text"><i class="fa fa-facebook fa-2x"></i></a></li>
        <li><a href="#" class="white-text"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="#" class="white-text"><i class="fa fa-google-plus fa-2x"></i></a></li>
        <li><a href="#" class="white-text"><i class="fa fa-envelope fa-2x"></i></a></li>

        </ul>
        </div>
        <div class="row center">
          <ul>
            <li><a class="brown-text" href="#!">Terms and Conditions</a></li>
            <li><a class="brown-text" href="#!">Careers</a></li>
            <li><a class="brown-text" href="#!">Privacy</a></li>
            <li><a class="brown-text" href="#!">Team</a></li>
            <li><a class="brown-text" href="#!" target="_blank">Blog</a></li>
            <li><a class="brown-text" href="#!">News</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <div class="row">
        <div class="col l6">
          <span class="brown-text">
          &copy; 2016 |   NIT-B</span>
        </div>
        <div class="col l6 right brown-text">
          <p class="right">Handcrafted With <span class="white-text"><i class="fa fa-heart fa-2x"></i></span> in India.</p> 
        </div>
        </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="static/js/materialize.min.js"></script>
  <script src="static/js/init.js"></script>
  <script src="static/js/jQuerySimpleCounter.js"></script>
  <script type="text/javascript">
  $(function () {
    $('#piechart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Polarity Analysis For Tweets with Query {{ query }}'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Polarity of Tweets',
            colorByPoint: true,
            data: {{pol|safe}}
        }]
    });
});
  </script>

</body>
</html>
